page-home {

    .toolbar-background-md {
        border-color: #031041;
        background-image: url(../../assets/imgs/01.jpg) !important;
        background-repeat: no-repeat !important;
        background-size: 800px 200px !important;
    }

    .texto01{

        font-size: 16px;
        font-weight: bold;
    }

    .texto02{

        font-size: 13px;
        font-weight: bold;
        color: crimson;
    }

 

    .icon{
        color: rgb(237, 253, 5);
    }
}
