page-checkout {

    .texto02{
        font-size: 22px;
        color: maroon;
        font-weight: bold;
    }

    .texto01{
        font-size: 16px;
        color: rgb(4, 18, 83);
        font-weight: bold;
    }

    .texto03{

        font-size: 22px;
        color: rgb(255, 255, 255) !important;
    }

    .toolbar-background-md {
        border-color: #031041;
        background-image: url(../../assets/imgs/01.jpg) !important;
        background-repeat: no-repeat !important;
        background-size: 800px 200px !important;
    }


    .icon{
        color: rgb(55, 253, 5);
    }

}
